* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #102937;
    color: #ededed;
}

.home {
    background: linear-gradient(to left, rgba(228, 111, 128, 0), #080808), url(images/Background.JPG);
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    min-height: 90vh;
    max-height: 90vh;
}

.container {
    padding: 10px 10%;
}

.bar {
    width: 100%;
    height: 10vh;
    background-color: #102937;
}

.logo {
    width: 0px;
    height: 0px;
    box-shadow: 0px 10px 10px #102937;
}

.nameColor {
    color: #66FCF1;
}

nav {
    margin-bottom: 98vh;
    position: relative;
    box-shadow: 0px 4vh 17.5px #102937;
}

nav ul {
    margin-left: 65%;
    margin-top: 0.7%;
    margin-right: 5%;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #ededed;
    text-decoration: none;
    font-size: 26px;
    position: relative;
}

nav li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #39ff14;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.iconer {
    position: fixed;
    margin-top: 15%;
    padding-left: 10px;
    transform: translateX(-80%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.5s;
    background-color: #fff;
}

#icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#icons li {
    list-style: none;
    font-size: xx-large;
    display: flex;
    flex-direction: column;

}

.iconer:hover {
    transform: translateX(0%);
}

#icons li a {
    transition: 0.5s;
}

#icons li a:hover {
    text-decoration: none;
    color: #39ff14;
}

.header-text {
    padding-top: 15%;
    margin-left: 16.5%;
}

.header-text p {
    font-size: 80px;
    margin-top: 5px;
}


/*--------------about----------------*/
#about {
    padding: 80px 0;
    color: #ededed;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #ededed;
}

.field {
    font-size: 20px;
    max-width: 90%;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
    margin-bottom: 2.5%;
}

.tab-links {
    margin-right: 50px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #ededed;
    margin-top: 20px;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #66FCF1;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    font-size: 18px;
}

.tab-contents ul li span {
    color: #45a29e;
    font-size: 20px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/*--------------------------------services----------------*/
#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #1F2833;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background-color 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #ededed;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #66FCF1;
    transform: translateY(-10px);
}

/*----------------portfolio-------*/

#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    height: 300px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(255, 255, 255, 0.6), #66FCF1);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
    color: #102937;
}

.layer a {
    margin-top: 20px;
    color: #66FCF1;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #ededed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #66FCF1;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #ededed;
    transition: background-color 0.5s;
}

.btn:hover {
    background: #66FCF1;
}

/*--------------design---*/

.design {
    background-color: #080808;
    display: flex;
    flex-direction: column;
    padding: 60px 0px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footerform {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.btn2 {
    display: block;
    width: fit-content;
    border: 1px solid #66FCF1;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #ededed;
    transition: 0.5s;
}

.btn2:hover {
    background: #66FCF1;
}


.icons2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 500px;
}

.icons2 li {
    list-style: none;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
}

.icons2 li a {
    transition: 0.5s;
}

.icons2 li a:hover {
    color: #39ff14;
}
